{{!-- <article class="post">
  <div class="title">
    <p>{{title}}</p>
    <span>({{review_text}})</span>
    <p>Streaming Service: <span>{{service.service_name}}</span></p>
  </div>
  <div class="meta">
    review by {{user.username}} on {{format_date created_at}}|
  </div>
</article> --}}