{{> sidebar}}

<div>
<p> Current Review:<br>
            {{title}}<br>
        {{review_text}}<br>

          {{service.service_name}}
          <div>
             <button class="delete-review-btn bg-red-500 hover:bg-red-700 text-white text-xs font-bold ml-4 py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Delete
      </button>
      </div> 
          </p>
</div>

          <form class="edit-review-form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="review-title">
       Edit Title
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="edit-title" id="edit-title" type="text" placeholder="{{title}}">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="media-service">
        Which streaming service:
      </label>
          <select id="edit-service" class="shadow appearance-none border border-grey-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
                        <option>Select one...</option>
                        <option class="media_selection" value="1">Apple TV+</option>
                        <option class="media_selection" value="2">Peacock</option>
                        <option class="media_selection" value="3">Hulu</option>
                        <option class="media_selection" value="4">Netflix</option>
                        <option class="media_selection" value="5">HBO Max</option>
                    </select>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="edit-text">
        Edit review:
      </label>
      <input class="shadow appearance-none border border-grey-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="edit-text" type="text" placeholder="{{review_text}}">
    </div>
    <div class="flex items-center justify-between">
      <button id="edit-reviews-btn" class="bg-indigo-600 hover:bg-indigo-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Finished Edit
      </button>
    </div>
  </form>
</div>
<div>

    <script src="/javascript/edit-review.js"></script>
<script src="/javascript/delete-review.js"></script>